html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.login-page .footer {
    bottom: 0;
    left:0;
    position: fixed;
    width: 100%;
}
.modificator{
    margin: 0 1px;
}

/*Drag and Drop*/
.dropzone:first-of-type
{
	margin-left: 18px;
}
.dropzone{
    width: 31.4%;
    height: 204px;
	display: inline-block;
    border: 2px dashed #ccc;
    color: #ccc;
    line-height: 300px;
    text-align: center;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 204px;
}

.dropzone.dragover{
    border-color: #000;
    color: #000;
}

.dropzone:hover{
   cursor: pointer;
}
.tab-content.drop{
	padding: 15px 0;
}
.promote.drop{
	margin-top: 23px;
	margin-bottom: 13px;
}
.editor{
	margin: 15px 0;
}
.tab-content.drop label,
.tab-content.drop input{
	margin-right: 15px;
}
.tab-content.drop input[type="text"]{
	background-color: #ffffff;
	box-shadow: 0px 1px 4px 0.00px rgba(0, 0, 0, 0.3);
	height: 21px;
	border-radius: 9px;
	width: 90%;
	border: none;
	padding-left: 38px;
	line-height: 21px;
}
.desc-drop
{
	display: block;
	margin-top: 15px;
}
.save_item
{
	position: absolute;
	right: 15px;
	background: #6dcece;
	border:1px solid #6dcece;
	box-shadow: 0px 1px 4px 0.00px rgba(0, 0, 0, 0.3);
	color: #fff;
	width: 150px;
	height: 40px;
}

.table_buttons a{
    margin-left: 5px;
}

.close{
    top: 0%;
    right: 0%;
    width: 5%;
}
.images_thumbnails .dropzone:last-child span{
    display:none;
}
.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;
	}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	}

.view_avatar{
    width:80px; 
    height:80px; 
    border-radius: 50%; 
    display:inline-block; 
    margin-right:10px;
}

.username_view{
    display:inline-block;
}

.index_avatar{
    width:50px; 
    height:50px; 
    border-radius: 50%; 
    display:inline-block; 
    margin-right:10px;
}

.a_index{
    display:inline-block;
}
.a_images{
    display:inline-block;
    padding-right: 3px;
}
.form_create_left{
    float: left;
    width: 100.4%;

}
.form_create_right{
    float: right!important;
    width: 86.4%;
    position: absolute;
    top: 146px;
    left: 50%;
    margin-left: 10px;
}
#dropzone0{
    margin-top: 0px!important;

}
#country-form > div:nth-child(2){
    position: absolute!important;
}
   